<!DOCTYPE html>
<html>
  <head>
    <title>DemoSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>My cool website</h1>
    <%= yield %>
    <p>This is some stuff</p>
  </body>
</html>
